<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/devinjordao/">Devin</a>. A web developer who is on his way to complete a coding bootcamp to help him incerease his skills.
  </p>
  <br />
  <p>
    He cuurently goes to San Jose State pursuing an Aerospace Engineering Degree and whats to develop skills elsewhere to help make himself more employable. He decided to join a coding bootcamp to meet these goals and wants to work for a large corporation.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'devin.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Devin Jordao</h2>
      <br />
      <p>
        Devin Jordao is a 20 year old programming student who is from Turlock, California. He is juggling the coding bootcamp with college in an attempt to find new skills. In a past life he was a car enthusiast that helped designed for Lamborghini.
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />